<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= appName %></title>
  </head>
  <body>
    <h1>Welcome to CanJS!</h1>
    <div id="content"></div>
    <script type='text/javascript' src='bower_components/jquery/jquery.js'></script>
    <script type='text/javascript' src='bower_components/canjs/can.jquery.js'></script>
    <script type='text/javascript' src='bower_components/canjs/can.view.mustache.js'></script>
    <script type='text/javascript' src='<%= _.underscored(appName) %>.js'></script>
  </body>
</html>